<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crypto.wallet.bittrex">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <application
        android:name="crypto.wallet.bittrex.ApplicationMy"
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:noHistory="false"
        android:roundIcon="@drawable/iconapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="crypto.wallet.bittrex.ActivityCurrency" />
        <activity
            android:name="crypto.wallet.bittrex.ActivityMySettings"
            android:label="@string/action_settings" />
        <activity
            android:name="crypto.wallet.bittrex.ActivityStart"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="crypto.wallet.bittrex.ActivityAbout" />
        <activity
            android:name="crypto.wallet.bittrex.ActivityOrders"
            android:label="@string/title_activity_orders"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>