<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="currency.crypto.wallet">

    <!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    -->
    <application
        android:name=".data.ApplicationMy"
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:noHistory="false"
        android:roundIcon="@drawable/iconapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.ActivitySplash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.ActivityCurrency" />
        <activity
            android:name=".ui.activities.ActivityMySettings"
            android:label="@string/action_settings" />
        <activity
            android:name=".ui.activities.ActivityStart"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activities.ActivityAbout" />
        <activity
            android:name=".ui.activities.ActivityOrders"
            android:label="@string/title_activity_orders"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.ActivityMarket"
            android:label="@string/title_activity_market"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ActivityMarketCurrency"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.ActivityChart"
            android:label="@string/title_activity_chart"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".ui.widgets.WidgetNetValue">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_net_value_info" />
        </receiver>
    </application>

</manifest>